body 
{
	background-image: url('mountain.jpg');
}

#text 
{
	position: relative;
	top: 210px;
	height: 500px;
	width: 701px;
	background-color: white;
	border: 1px solid #222;
	border-radius: 6px;
	box-shadow: 0 1px 1px #777;
	margin-right: auto;
	margin-left: auto;
}

#container 
{
	height: 1000px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: ;
}

#information 
{
	top: 45px;
	left: 250px;
	height: 200px;
	width: 201px;
	background-color: lime;
	position: absolute;
}








#menu li /*anger utseende hos menyraden*/
{
	float: left;
	border-right: 1px solid #222;
	box-shadow: 1px 0 0 #444;
	position: relative;
}
#menu li#last /*anger utseendet hos den sista länken i menyraden*/
{
	padding-right: 11px;
	border-right: none;
	box-shadow: none;
}
#menu li#last:hover /*anger vad som händer när musen dras över sista länken i menyraden*/
{
	background-color: white;
	background-image: linear-gradient( white, gold);
	border-radius: 6px;
	box-shadow:inset 0px 4px 16px rgba(0, 0, 0, 0.8);
}

#menu li:hover /*Detta händer när musen dras över länken i menyn*/
{
	background-color: white;
	background-image: linear-gradient(white, gold);
	border-radius: 6px;
	box-shadow:inset 0px 4px 16px rgba(0, 0, 0, 0.8);
}

#menu li a /*anger utseendet på länkarna i menyraden*/
{
	float: left;
	padding: 15px 42px;
	color: 660066;
	text-transform: uppercase;
	font: bold 18px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	/* text-decoration: none;
	display: block;*/
}

#menu, #menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

div#menu /*anger utseende på menu*/
{
	top:200px;
	position: relative;
	width: 714px;
	height: 50px;
	border: 1px solid #222;
	background-image: linear-gradient(silver, white);
	border-radius: 6px;
	box-shadow: 0 1px 1px #777;
	margin-right: auto;
	margin-left: auto;
	box-shadow:inset 0px 4px 8px rgba(0, 0, 0, 0.3);
}







#sidemenu li 
{
	float: left;
	border-right: 1px solid #222;
	box-shadow: 1px 0 0 #444;
	position: relative;
}

#sidemenu li#last
{
	padding-right: 11px;
	border-right: none;
	box-shadow: none;
}

#sidemenu li:hover
{
	background-color: white;
	border-radius: 6px;
	box-shadow:inset 0px 4px 16px rgba(0, 0, 0, 0.8);
}

#sidemenu li#last:hover
{
	background-color: white;
	border-radius: 6px;
	box-shadow:inset 0px 4px 16px rgba(0, 0, 0, 0.8);
}

#sidemenu li a
{
	float: left;
	padding: 10px 20px;
	color: 660066;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#sidemenu, #sidemenu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

div#sidemenu
{
	top: 0px;
	width: 701px;
	height: 35px;
	border-radius: 6px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	/*background-image: linear-gradient(hotpink, white);*/
	box-shadow:inset 0px 4px 8px rgba(0, 0, 0, 0.8);
	background-color: white;
}
