<!-- h채r kommer all betalning att ske -->


<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="payment_endags_besok.css">
</head>
<body>

<!-- min container ska alltid vara i mitten medans allt i den ska vara absolute -->

<div id = "container">

	<!-- bara lite l채nkar till mina olika sidor -->

	<div id= "menu">
		<ul>
			<li><a href = "home.html">Hem</a></li>
			<li><a href="locations.html">Plaseringar</a></li>
			<li><a href="payment.html">Priser</a></li>
			<li id = "last"><a href="information.html">Information</a></li>
		</ul>	
	</div>

	<!-- H채r 채r all information om priser (info kommer lite senare) -->

	<div id = "text">

		<div id = "sidemenu">
			<ul>
				<li><a href="payment_erbjudanden.html">Erbjudanden</a></li>
				<li><a href="payment_presentkort.html">Presentkort</a></li>
				<li><a href="payment_endags_besok.html">Endags Besok</a></li>
				<li><a href="">Avbokningsregler</a></li>
				<li id = "last"><a href="">blablabla</a></li>
			</ul>
		</div>

		<div id = "information">
		</div>

	</div>

</div>

</body>
</html>