<html>
<head>
	<title>Spaaaaaa</title>
	<link rel="stylesheet" type="text/css" href="spa_layout.css">
</head>

<!-- jag vill gärna ha en fräsh startsida som man kommer till först innan 
man kommer till home page. iden är att man har en "fin" blomma vars 
blad är knappar till antingen "home", "payment", "bla" och "bla". 
den är inte lika vicktig så den kommer sist.
 -->
<body >

	<div id = "allframes">
		<div id = "mainframe">
		</div>

		<div id = "textframe">
		</div>
	</div>
		
		<div id = "button1">
		</div>

		<div id = "button2">
		</div>

		<div id = "button3">
		</div>

		<div id = "button4">
		</div>

		<div id = "button5">
		</div>

</body>
</html>