<html>
<head>
	<title>Spaaaaaa</title>
	<link rel="stylesheet" type="text/css" href="spa_layout.css">
</head>
<body >

	<div id = "allframes">
		<div id = "mainframe">
		</div>

		<div id = "textframe">
		</div>
	</div>
		
		<div id = "button1">
		</div>

		<div id = "button2">
		</div>

		<div id = "button3">
		</div>

		<div id = "button4">
		</div>

		<div id = "button5">
		</div>

</body>
</html>